@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home,
  &#contact,
  &#work,
  &#about {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  max-height: 35vh;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}
